<div class="alx-listview">
  <ul class="alx-listmenu">
    <li (click)="getHots()" [ngClass]="{'active':-1==targetIndex}"> 热门报修 <ion-icon name="md-star" color="basic"></ion-icon> </li>
    <li *ngFor="let item of parentList;index as i;" (click)="categoryChanged(item.serviceCode)" [ngClass]="{'active':i==targetIndex}"> {{ item.serviceName }} </li>
  </ul>
  <div class="alx-listmain">
      <div class="alx-categories-banner">
          <img src="/assets/imgs/categories.png"  alt="分类图片"/>
      </div>
      <div class="alx-categories-list">
          <div class="alx-list-title">分类列表</div>
          <div class="alx-categories-item" *ngFor="let child of childList" (click)="changeChild(child)">
              <ion-icon name="home"></ion-icon>
              <span>{{ child.serviceName }}</span>
          </div>
      </div>
  </div>
</div>

