<ion-header>
  <ion-searchbar (ionInput)="filterItem($event)" placeholder="输入查询的维修项目" autocomplete="on"></ion-searchbar>
</ion-header>
<ion-content overflow-scroll="false">
  <alx-listview class="alx-content" [DataList]="dataList.value" *ngIf="!searchData"></alx-listview>
  <div class="alx-searchList" *ngIf="searchData">
    <ion-list>
      <ion-item *ngFor="let searchItem of searchData">{{ searchItem.categoryName }}</ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
