<ion-header>
  <ion-navbar [color]="'basic'">
    <ion-title>我的订单</ion-title>
  </ion-navbar>
  <ion-toolbar padding>
    <ion-segment class="segment segment-ios" [(ngModel)]="listType" [color]="'basic'">
      <ion-segment-button value="0">
        全部
      </ion-segment-button>
      <ion-segment-button value="-1">
        待付款
      </ion-segment-button>
      <ion-segment-button value="1">
        进行中
      </ion-segment-button>
      <ion-segment-button value="2">
        已完成
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="listType">
    <div *ngSwitchCase="'0'">
        <div class="alx-order-item">
            <div class="alx-order-status alx-order-status-nopay">未付款</div>
            <div class="alx-order-item-data alx-order-item-name"><span>报修单号:</span><span>wx201805310001</span></div>
            <div class="alx-order-item-data"><span>故障类型:</span><span>空调不制冷</span></div>
            <div class="alx-order-item-data"><span>预约时间:</span><span>2018-05-31 18:00</span></div>
            <div class="alx-order-item-data"><span>报修地址:</span><span>上海市 上海市 杨浦区 测试街道 测试路303号测试小区8单元403室</span></div>
        </div>
        <div class="alx-order-item" *ngFor="let item of DataList" (click)="goToDetails(item)">
            <div class="alx-order-item-data alx-order-item-name"><span>报修单号:</span><span>{{ item.repairOrderNo }}</span></div>
            <div class="alx-order-item-data"><span>故障类型:</span><span>{{ item.serviceNameL3 }}</span></div>
            <div class="alx-order-item-data"><span>预约时间:</span><span>{{ item.appointmentTimeString }}</span></div>
            <div class="alx-order-item-data"><span>报修地址:</span><span>{{ item.addressProvinceString }} {{ item.addressCityString }} {{ item.addressDistrictString }} {{ item.addressDetail }}</span></div>
        </div>
        <div class="alx-order-item" *ngIf="!DataList">
            暂无数据
        </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <ion-list *ngSwitchCase="'-1'">
      <div class="alx-order-item" *ngFor="let item of DataList" (click)="goToDetails(item)">
        <div class="alx-order-item-name">报修单号:<span>{{ item.repairOrderNo }}</span></div>
        <div class="alx-order-item-other">故障类型:<span>{{ item.serviceNameL3 }}</span></div>
        <div class="alx-order-item-other">预约时间:<span>{{ item.appointmentTimeString }}</span></div>
        <div class="alx-order-item-other">报修地址:<span>{{ item.addressProvinceString }} {{ item.addressCityString }} {{ item.addressDistrictString }} {{ item.addressDetail }}</span></div>
      </div>
      <div class="alx-order-item" *ngIf="!DataList">
        暂无数据
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'1'">
      <div class="alx-order-item" *ngFor="let item of DataList" (click)="goToDetails(item)">
        <div class="alx-order-item-name">报修单号:<span>{{ item.repairOrderNo }}</span></div>
        <div class="alx-order-item-other">故障类型:<span>{{ item.serviceNameL3 }}</span></div>
        <div class="alx-order-item-other">预约时间:<span>{{ item.appointmentTimeString }}</span></div>
        <div class="alx-order-item-other">报修地址:<span>{{ item.addressProvinceString }} {{ item.addressCityString }} {{ item.addressDistrictString }} {{ item.addressDetail }}</span></div>
      </div>
      <div class="alx-order-item" *ngIf="!DataList">
        暂无数据
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'2'">
        <div class="alx-order-item" *ngFor="let item of DataList" (click)="goToDetails(item)">
          <div class="alx-order-item-name">报修单号:<span>{{ item.repairOrderNo }}</span></div>
          <div class="alx-order-item-other">故障类型:<span>{{ item.serviceNameL3 }}</span></div>
          <div class="alx-order-item-other">预约时间:<span>{{ item.appointmentTimeString }}</span></div>
          <div class="alx-order-item-other">报修地址:<span>{{ item.addressProvinceString }} {{ item.addressCityString }} {{ item.addressDistrictString }} {{ item.addressDetail }}</span></div>
        </div>
        <div class="alx-order-item" *ngIf="!DataList">
          暂无数据
        </div>
    </ion-list>
  </div>
</ion-content>

