userinfo-address {
  label {
      font-size: 16px;
      border: none;
      padding: 5px 0;
  }

  .alx-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom: 1px solid rgba(234, 84, 20, .3);
      min-height: 44px;
  }
  .alx-item ion-select {
      position: relative;
  }

  .alx-item label {
      padding: 15px 8px 16px;
      flex: 1;
  }
  .alx-item input,
  .alx-item ion-select {
      flex: 3;
      max-width: 75%;
      border: none;
  }
  .alx-item alx-address-picker {
      padding: 15px 8px 16px;
      flex: 3;
      max-width: 75%;
  }

  .alx-item textarea {
      flex: 3;
      max-width: 75%;
      height: 70px;
  }
  .alx-item input,
  .alx-item textarea {
      padding: 11px 8px 11px 16px;
      font-size:14px;
      box-shadow: none;
      line-height: 25px;
      border: none;
  }
/*  .ng-valid[required],
  .ng-valid.required {
    border-bottom: 2px solid #32db64;
  }

  .ng-invalid:not(form)  {
    border-bottom: 2px solid #f53d3d;
  }*/
}
