<div class="alx-address-picker-select" (click)="areaHide=false">
  <!-- Address select area begin -->
  <div class="alx-address-picker-select-item" *ngIf="noData">{{ placeholder }} <ion-icon name="ios-arrow-forward"></ion-icon></div>
  <div class="alx-address-picker-select-item" *ngIf="!noData">
    <span *ngIf="0<areaLevel" title="{{ getCurrentName(baseProvince,0) }}">{{ getCurrentName(baseProvince,0) }}</span>
    <span *ngIf="1<areaLevel" title="{{ getCurrentName(baseCity,1) }}">{{ getCurrentName(baseCity,1) }}</span>
    <span *ngIf="2<areaLevel" title="{{ getCurrentName(baseDistrict,2) }}">{{ getCurrentName(baseDistrict,2) }}</span>
    <span *ngIf="3<areaLevel" title="{{ getCurrentName(baseStreet,3) }}">{{ getCurrentName(baseStreet,3) }}</span>
  </div>
  <!-- Address select area end -->
</div>
<!-- Address show area begin -->
<!-- Address show background area begin -->
<div class="alx-address-picker-dialog" *ngIf="!areaHide">
</div>
<!-- Address show background area end -->
<!-- Address show datalist area begin -->
<div class="alx-address-picker-content" *ngIf="!areaHide">
    <div class="alx-address-picker-opt">
      <div class="alx-address-picker-title">{{ addressTitle || '选择地址' }}</div>
      <ion-icon name="ios-close-outline" (click)="areaHide=true"></ion-icon>
    </div>
    <ion-segment [(ngModel)]="currentLevel" color="basic">
      <ion-segment-button value="0" (ionSelect)="levelChange($event)" *ngIf="0< areaLevel">{{ getCurrentName(currentProvince,0)}}</ion-segment-button>
      <ion-segment-button value="1" (ionSelect)="levelChange($event)" *ngIf="1< areaLevel"><span *ngIf="cityShow">{{ getCurrentName(currentCity,1)}}</span></ion-segment-button>
      <ion-segment-button value="2" (ionSelect)="levelChange($event)" *ngIf="2< areaLevel"><span *ngIf="districtShow">{{ getCurrentName(currentDistrict,2)}}</span></ion-segment-button>
      <ion-segment-button value="3" (ionSelect)="levelChange($event)" *ngIf="3< areaLevel"><span *ngIf="streetShow">{{ getCurrentName(currentStreet,3)}}</span></ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="currentLevel" [@addressAnimation]="currentLevel" class="cities-list" (swipe)="swipeEvent($event)">
        <ion-list *ngSwitchCase="'0'" radio-group [(ngModel)]="currentProvince" (ionChange)="provinceChanged($event)">
          <ion-item *ngFor="let dataItem of dataProvinces" ><ion-label>{{dataItem.name}}</ion-label><ion-radio value="{{dataItem.code}}"></ion-radio> </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'1'" radio-group [(ngModel)]="currentCity" (ionChange)="cityChanged($event)">
          <ion-item *ngFor="let dataItem of dataCities" ><ion-label>{{dataItem.name}}</ion-label><ion-radio value="{{dataItem.code}}"></ion-radio></ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'2'" radio-group [(ngModel)]="currentDistrict" (ionChange)="districtChanged($event)">
          <ion-item *ngFor="let dataItem of dataDistricts" ><ion-label>{{dataItem.name}}</ion-label><ion-radio value="{{dataItem.code}}"></ion-radio></ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'3'" radio-group [(ngModel)]="currentStreet" (ionChange)="streetChanged($event)">
          <ion-item *ngFor="let dataItem of dataStreets"><ion-label>{{dataItem.text}}</ion-label><ion-radio value="{{dataItem.code}}"></ion-radio></ion-item>
        </ion-list>
    </div>

  <!-- Address show datalist area end -->
  <!-- Address show area end -->
  </div>
